.blogList {
    padding-bottom: 100px;
}
.wrap {
    // margin: 40px 0 100px;
    margin: 40px 0 clamp(1.875rem, 0.143rem + 7.11vw, 6.25rem);

    display: grid;
    grid-template-columns: 1.5fr 1fr;
    // gap: 30px;
    gap: clamp(1.375rem, 1.177rem + 0.81vw, 1.875rem);

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3 {
        color: $colorOrange;
        // font-size: 32px;
        font-size: clamp(1.5rem, 1.302rem + 0.81vw, 2rem);
        font-weight: 500;
        line-height: 1.2;
    }

    h1 {
        // font-size: 64px;
        // font-size: clamp(3rem, 2.604rem + 1.62vw, 4rem);
        // font-size: clamp(2.5rem, 0.602rem + 3.95vw, 4rem);
        font-size: clamp(3rem, 1.812rem + 4.87vw, 6rem);

        font-weight: 900;
        line-height: 1.3;
        letter-spacing: -0.03em;
        text-transform: uppercase;
    }

    h4 {
        font-weight: 700;
        line-height: 1;
        color: $colorGray;

        // font-size: 96px;
        font-size: clamp(3rem, 1.769rem + 4.92vw, 6rem);
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    img {
        width: 100%;
    }

    p {
        // font-size: 20px;
        font-size: clamp(1rem, 0.901rem + 0.41vw, 1.25rem);
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 0.01em;
        color: $colorGray;
    }
}

.first {
    display: flex;
    flex-direction: column;
    // gap: 40px;
    gap: clamp(1.5rem, 1.104rem + 1.62vw, 2.5rem);
    margin-bottom: 40px;

    img {
        width: 100%;
        border-radius: 25px;
    }
}

.inner {
    display: flex;
    justify-content: space-between;
    // align-items: flex-start;
    gap: 30px;

    > div {
        max-width: 900px;

        display: flex;
        flex-direction: column;
        // gap: 16px;
        gap: clamp(0.5rem, 0.302rem + 0.81vw, 1rem);


        h3 {
            // font-size: 48px;
            font-size: clamp(1.5rem, 0.906rem + 2.44vw, 3rem);
            font-weight: 900;
            line-height: 1.2;
            letter-spacing: -0.02em;
            text-transform: uppercase;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }

        p {
            // font-size: 20px;
            font-size: clamp(1rem, 0.901rem + 0.41vw, 1.25rem);
            font-weight: 400;
            line-height: 1.6;
            letter-spacing: 0.01em;
            color: $colorGray;
        }
    }

    svg {
        aspect-ratio: 1;
        min-width: max-content;
        border-radius: 50%;
        padding: 25px;
        background-color: $colorBlue;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
            scale: 1.05;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }
}

.blog_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    margin: 40px 0;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.blog_card {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        img {
            object-fit: cover;
            width: 120px !important;
            aspect-ratio: 1;
        }

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }

    @media (max-width: 480px) {
      img {
        width: 90px !important;
      }
    }

    img {
        width: 100%;
        // border-radius: 25px;
        border-radius: clamp(0.875rem, 0.603rem + 1.12vw, 1.563rem);
    }

    h4 {
        // font-size: 36px;
        font-size: clamp(1rem, 0.505rem + 2.03vw, 2.25rem);
        font-weight: 900;
        line-height: 1.2;
        text-transform: uppercase;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        // margin-bottom: 14px;
        margin-bottom: clamp(0.313rem, 0.09rem + 0.91vw, 0.875rem);
        // line-height: 1.4;
    }

    p {
        // font-size: 20px;
        font-size: clamp(1rem, 0.901rem + 0.41vw, 1.25rem);
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 0.01em;
        color: $colorGray;
    }
}


.btn {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    padding: 15px 24px;
    border-radius: 30px;
    letter-spacing: 0.01em;
    border: 1px solid $colorGray;
    color: $colorGray;
    background: none;

    display: block;
    margin: 40px auto 0;

    transition: 0.4s;

    &:hover {
        background-color: $colorGray;
        color: $colorWhite;
    }
}
